*{
   margin:0px;
   padding:0px;
}
body{
    background:#042979;
}
#login-box{
   margin:0 auto;
   width:500px;
   height:300px;
   border:1px solid ;
   margin-top:150px;
}

#login-box .img{
   width:500px;
   height:140px;
   background:url('../Images/3.jpg');
}
#login-box .Form{
    width:494px;
	height:160px;
	margin:0 auto;
	background:white;
	text-align:center;
	border:inset;
	border-top:none;
}
.Form input{
   margin-top:15px;
   font-weight:bold;
   font-size:12px;
}